<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.your_app_package_name">

    <!-- Add other necessary permissions if needed -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="CPAY"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Add other necessary intent filters, if needed -->

            <meta-data
                android:name="flutterEmbedding"
                android:value="2" />
        </activity>
    </application>
</manifest>
